<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n
		</Property>
		<Property name="APP_LOG_ROOT">logs</Property>
	</Properties>

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="appLog"
			fileName="${APP_LOG_ROOT}/LogBillingMasive.log"
			filePattern="${APP_LOG_ROOT}/LogBillingMasive-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<LevelRangeFilter minLevel="ERROR" maxLevel="WARN"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

		<RollingFile name="appLogInfo"
					 fileName="${APP_LOG_ROOT}/InfoBillingMasive.log"
					 filePattern="${APP_LOG_ROOT}/InfoBillingMasive-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<LevelRangeFilter minLevel="INFO" maxLevel="INFO"
							  onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="appLog" />
			<AppenderRef ref="appLogInfo" />
		</Root>
	</Loggers>
</Configuration>